/* -----------------NAVBAR------------------ */
.nav-link {
  filter: brightness(1.3);
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar {
  filter: brightness(1);
  background-color: rgba(0, 0, 0, 0.3);
}

.custom-toggler.navbar-toggler {
  border-color: #fe4439;
  border-width: 3px;
  color: #fe4439;
  filter: brightness(1);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 68, 57, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  filter: brightness(1.2);
}
/* -----------------NAVBAR END------------------ */

/* -----------------Main image and text----------------- */
.img-fluid {
  width: 100vw;
  height: 100vh;
  /* object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.5); */
}

.parent {
  position: relative;
}

.my-name {
  position: absolute;
  left: 5%;
  top: 30%;
  font-size: 4vw;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 8px #050505;
}

.my-job {
  position: absolute;
  left: 5%;
  top: 38%;
  font-size: 2vw;
  color: rgb(255, 255, 255);

  text-shadow: 3px 3px 8px #050505;
}

@media screen and (max-width: 992px) {
  .my-name {
    font-size: 8vw;
    top: 40%;
  }
  .my-job {
    font-size: 4vw;
    top: 55%;
  }
}
/* -----------------Main image and text END----------------- */

/* ---------------------- Footer ---------------------------  */
.footer {
  height: 300px;
  color: rgb(255, 255, 255);
}

.socials i {
  font-size: 50px;
  color: rgb(255, 255, 255);
}
